.todo-app__frame {
    display: flex;
    width: 562px;
    min-height: 402px;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
    align-items: flex-start;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}



.todo-app__main-controls {
    display: flex;
    flex-direction: row;
    height: 66px;
    width: 562px;
    
}

.todo-app__tasks {
    display: flex;
    min-height: 293px;
    box-shadow: inset 0px 2px 1px #E6E6E6;
}

.todo-app__actions-bar {
    display: flex;
    width: 562px;
    height: 43px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    box-shadow: inset 0px 2px 1px #E6E6E6;
}