@import "reset.css";
@import "todos.css";
@import "main.css";
@import "main_control.css";
@import "tasks.css";
@import "footer.css";

html {
    background: rgba(0, 0, 0, 0.05);
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
}

.todo-app {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    
}

.border-bottom1 {
    display: flex;
    width: 554px;
    height: 3px;
    background-color: #fff;
    flex-direction: column;
    flex-wrap: wrap;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.9);
}

.border-bottom2 {
    display: flex;
    width: 546px;
    height: 2px;
    background-color: #fff;
    flex-direction: column;
    flex-wrap: wrap;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.9);
}