@import "./reset.css";
@import "todos";
@import "main";
@import "main_control";
@import "tasks";
@import "footer";

$width-window: 554px;
$bg-color: #fff;

html {
    background: rgba(0, 0, 0, 0.05);
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
}

.todo-app {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    
}

.border-bottom1 {
    display: flex;
    width: $width-window;
    height: 3px;
    background-color: $bg-color;
    flex-direction: column;
    flex-wrap: wrap;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.9);
}

.border-bottom2 {
    display: flex;
    width: $width-window - 8px;
    height: 2px;
    background-color: $bg-color;
    flex-direction: column;
    flex-wrap: wrap;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.9);
}